.column-image {
    height: 600px;
    width:480px;
    padding-right: 1.3rem;
}
.column-text {
    padding-left: 1rem;
    font-size: 40px;
    font-weight:normal;
}
.about {
    background-color: black;
    color: white;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}
nav{
    background-color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
footer {
    background-color: #212121;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}